<% provide(:title, "Home") %>
<html>
  <head>
    <title><%= yield(:title) %> | Framgia Booking Tour </title>
  </head>
  <body>
    <h1>happy new year</h1>
    <p>
      This is the home page for the
      <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>
