 <% if @account.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t(".content_error", error: @account.errors.count ).html_safe %>
    </div>
    <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
