@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';

/* universal */
body {
  padding-top: 60px;
  min-height:100%;
  background-color: #cccccd;
}
footer{
  width:100%;
  bottom: 0px;
  background-color: black;
  color: white;

}
#container{
  background-color: white;
  min-height:550px;
  padding: 10px;
  border-radius: 5px
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

.right{
  float:right;
}

html {height:100%}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $fff;
    text-decoration: none;
  }
}


.row{
  padding: 20px;
}

/* tours */
.tour_detail{
  h1{
    text-transform: uppercase;
  }
}

.tours {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title {
    display: block;
    margin:0 auto;
    float:center;
    font-size: 25px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .rate {
    display: block;
    margin:0 auto;
    float:center;
    color: gold;
    font-size: 20px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .postedby {
    color: $gray-light;
    display: block;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

/* tour detail */
.tour_detail{
  .image{
    height:400px;
    width:700px;
    border: 1px solid;
  }
}

.image-home{
  height:300px;
  width:500px;
  border: 1px solid;
}

.margin{
  margin-left: 15px;
}

.f30-bold{
  font-size: 30px;
  text-transform: uppercase;
}

.image-show{
  width: 720px;
  height: 400px;
}

.closedtour{
  text-align: center;
  border: 2px solid red;
  font-size: 25px;
  color: red;
}

.red-p{
  color: red;
}

.float-right{
  text-align: right;
  margin-right: 35px;
}

.language {
  padding: 15px;
  color: #9d9d9d;
  a:hover, .language a:focus {
  color: #fff;
  }
  img {
   width: 24px;
  }
}

.inline-block{
  display: inline-block;
}

.comment{
  border-bottom: 1px solid;
  margin: 5px;
}

.alert-notice{
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.search-div{
  display: inline;
}
.input-group{
}

.search-input{
  width: 400px;
}
