<% provide(:title, "All account") %>

<%= will_paginate %>
  <div >
    <%= render "shared/search_form" %>
  </div>
  <ul class="accounts">
     <h1>All account</h1>
     <%= render @accounts %>
  </ul>
<%= will_paginate %>
