<% provide(:title, "All account") %>
<h1>All account</h1>
<%= will_paginate %>
<div>
  <%= link_to "create new account", users_maneger_path  %>
</div>
<ul class="accounts">
   <%= render @accounts %>
</ul>
<%= will_paginate %>
